@CHARSET "UTF-8";

.ui-widget{
	font-family: Verdana,Arial,sans-serif;
	font-size: 0.7em;
}

#div-conteiner-geral{
	margin: 5px;
	min-height: 650px;
	/* border: 0; */
}

#area-de-trabalho{
	border: 0;
	margin-top: 3px;	
}

#nome-sistema{
	margin-top: 60px;
	font-size: 8em;
}

#div-logo-inicial{
	width: 100%;
	text-align: center;
}

#sub-nome-sistema{
	font-size: 5em;
}

#panel-login{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 210px;
	height: 119px; 
	margin-left: -105px;
	margin-top: -90px;
}

#panel-login inputText{
	margin: 2px;
}

.elemento-form-input{
	margin: 2px;
	text-transform: uppercase;
}

.largura250{
	width: 250px;
}

.largura20{
	width: 20px;
}

#menu-conteiner{
	border: 0;
	
}

#menu-usuario-dados{
	border: 0px solid gray;
	height: 27px;
	float: right;
	width: 300px;
	position: relative;
	top: -33px;
	margin: 0 4px 0 0;
	text-align: right;
	padding: 0 10px 0 0;
}

#menu-nome-usuario-sistema{
	position: relative;
	top: -6px;
}

#menu-icone-sair{
	position: relative;
	top: 2px;
	margin-left: 5px;
	border: 0px solid gray;
}